* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    height: 10%
}
#carouselSlidesOnly {
    background-color: black;
}
.txt-bsas {
    font-size: 1rem;
}
#honolulu {
    background-color: #2a3239;
}
.border-bottom {
    border-bottom: dashed !important;
}
.item-encabezado {
    font-size: 16px;
}
.footer1 {
    display: inline-block;
    width: 100%;
    height: 100px;
    background: #2E4053;
    text-align: center;
    }
.footer2 {
    display: inline-block;
    width: 100%;
    height: 100px;
    background: #2E4053;
    text-align: center;
    }    
.pie-de-pagina {
    text-decoration: none;
    text-align: center; 
}






.estudiante {
    border: 0.25vw solid blue;
}

.trainee {
    border: 0.25vw solid green;
}

.junior {
    border: 0.25vw solid orange;
}

#tickets {
    column-width: auto;
}

#total {
    background-color:#a6d2e2af
     ;
}