* {
    margin: 0;
    padding: 0;
}
.navbar {
    height: 10%;
}
.cuadro-texto {
    position: relative;
    }
#honolulu {
    width: 100%;
    height: 100%;
}
#carouselSlidesOnly {
    background-color: black;
    opacity: 50;
}
.border-bottom {
    border-bottom: dashed !important;
}
.item-encabezado {
    font-size: 16px;
}